body{
	margin: 0;
	font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    color: #555;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
.top-bar{
	height: 3px;
    background: #222;
}
header{
	margin: 0 auto;
    padding: 100px 0 70px;
    width: 700px;
}
main{
	margin: 0 auto;
    width: 700px;
}
#title{
	margin: 0 auto 50px;
	width: 160px;
    text-align: center;
    background: #000;
    color: #fff;
    line-height: 30px;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
nav{
	text-align: center;
}
nav ul{
	display: inline-block;
    padding: 0;
}
nav li{
	float: left;
	width: 60px;
	list-style: none;
}
nav a{
	padding: 5px 0;
	border: 1px #222 solid;
	border-left-color: transparent;
	border-right-color: transparent;
	transition: padding .2s;
}
nav a:hover{
	padding: 5px;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-left-color: #fe5757;
	border-right-color: #fe5757;
	color: #fe5757;
	opacity: .8;
}

#work-list{
	position: relative;
	height: 150px;
	display: none;
}
#work-list li{
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 10px;
	border-radius: 50%;
	transition: padding .2s ease, opacity .2s ease;
}
#work-list li:first-child{
	bottom: 0;
	left: 0;
	animation: balloon 30s infinite alternate;
	background: rgba(255, 255, 0, 0.3);
}
#work-list li:last-child{
	top: 0;
	right: 0;
	animation: balloon2 30s infinite alternate;
	background: rgba(255, 50, 0, 0.2);

}
#work-list li:hover{
	padding: 20px;
	opacity: 0.5;
}
#work-list a{
	display: block;
}
@keyframes balloon2{
	20%{
		top: 80%;
		right: 50%;
		transform: rotate(-360deg);
	}
	100%{
		top: 0;
		right: 100%;
		transform: rotate(-720deg);
	}
}
@keyframes balloon{
	80%{
		bottom: 80%;
		left: 50%;
		transform: rotate(360deg);
	}
	100%{
		bottom: 0;
		left: 100%;
		transform: rotate(720deg);
	}
}