body{
	margin: 0;
	background-color: #000;
}
a{
	text-decoration: none;
	color: inherit;
}
.wrap{
	margin: o auto;
	padding: 100px;
	width: 90%;
	color: #fff;
}
li{
	line-height: 40px;
}
/*stars*/
.stars-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
}
canvas{
	width: 100%;
	height: 100%;
}